---
import ResetPassword from "@/components/routes/password/ResetPassword";
import PageLayout from "../PageLayout.astro";

interface Props {
    page: "Set" | "Reset";
}
---

<PageLayout>
    <div class="flex sticky top-0 bg-white z-[100]">
        <h1
            class="text-4xl p-4 font-semibold bg-gradient-to-r from-blue-500 via-rose-500 to-rose-500 text-transparent bg-clip-text"
        >
            ChatingApp
        </h1>
    </div>
    <ResetPassword page={Astro.props.page} client:only />
</PageLayout>
