---
import VerifyOtp from "@/components/routes/@shared/VerifyOtp";
import PageLayout from "@/layouts/PageLayout.astro";

interface Props {
    goBackUrl: string;
    apiUrl: string;
    redirectUrl: string;
}


---

<PageLayout>
    <div class="flex sticky top-0 bg-white z-[100]">
        <h1
            class="text-4xl p-4 font-semibold bg-gradient-to-r from-blue-500 via-rose-500 to-rose-500 text-transparent bg-clip-text"
        >
            ChatingApp
        </h1>
    </div>
    <VerifyOtp client:only {...Astro.props} />
</PageLayout>
