---
import Template from "./Template.astro";
---

<Template>
    <div class="flex sticky top-0 bg-gray-100 z-[100]">
        <h1
            class="text-4xl p-4 font-semibold bg-gradient-to-r from-blue-500 via-rose-500 to-rose-500 text-transparent bg-clip-text"
        >
           <a href="/">Friendsify</a> 
        </h1>
    </div>
    <slot />
</Template>
